#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: black;
}

/* CSS de regalo */

.container {
  width: 660px;
  display: flex;
  padding: 20px;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px solid white;
}

/* Estilos para cada una de las box */
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border-width: 1px;
  border-style: solid;
  color: white;
}

/* Estilos para el input */
input {
  width: 50%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #f5f5f5;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, box-shadow 0.3s;
  margin-bottom: 20px;
}

.red {
  color: red;
  border-color: red;
}
.redfull {
  color: #000;
  background-color: red;
}
.green {
  color: green;
  border-color: green;
}
.greenfull {
  color: #000;
  background-color: green;
}
.pink {
  color: pink;
  border-color: pink;
}
.pinkfull {
  color: #000;
  background-color: pink;
}
.yellow {
  color: yellow;
  border-color: yellow;
}
.yellowfull {
  color: #000;
  background-color: yellow;
}

.purple {
  color: purple;
  border-color: purple;
}
.purplefull {
  color: #000;
  background-color: purple;
}
.white {
  color: white;
  border-color: white;
}
.whitefull {
  color: #000;
  background-color: white;
}
.blue {
  color: blue;
  border-color: blue;
}
.bluefull {
  color: #000;
  background-color: blue;
}
.aqua {
  color: aqua;
  border-color: aqua;
}
.aquafull {
  color: #000;
  background-color: aqua;
}
.olive {
  color: olive;
  border-color: olive;
}
.olivefull {
  color: #000;
  background-color: olive;
}






